<div class="box container">
  <article class="media">
    <div class="media-left">
      <figure class="image is-128x128">
        <img src="{{qrcode?.src}}" alt="Scan me!" height="240" width="240">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p class="title">QR-Angular</p>
        <p>
          <small>Utilize o app para ler o QRCode</small>
        </p>
      </div>
      <div class="level-left">
        <div class="icon">
          <span class="fab fa-android"></span>
        </div>
        <div class="icon">
          <span class="fab fa-apple"></span>
        </div>
      </div>

    </div>
  </article>
</div>
